<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application.
	By	<%= link_to "Mattan Griffel", "http://mattangriffel.com" %>
	application.
	</small>
</div>